<title>图片上传</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>图片库管理</cite></a>
    <a><cite>图片上传</cite></a>
  </div>
</div>

<style>
  #LAY-photo-edit-img-list tr img { height:40px; }
</style>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">多图上传</div>
        <div class="layui-card-body" pad15>
          <div class="layui-form" lay-filter="filter-banner-edit">
            <div class="layui-form-item">
              <div class="layui-upload">
                <button type="button" class="layui-btn layui-btn-normal" id="LAY-photo-edit-option">选择多文件</button>
                <div class="layui-upload-list">
                  <table class="layui-table">
                    <thead>
                    <tr>
                      <th>预览</th>
                      <th>文件名</th>
                      <th>大小</th>
                      <th>状态</th>
                      <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="LAY-photo-edit-img-list"></tbody>
                  </table>
                </div>
                <button type="button" class="layui-btn" id="LAY-photo-edit-action">开始上传</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    layui.use(['upload'], function () {
        var $ = layui.$
                , setter = layui.setter
                , upload = layui.upload;

        //多文件列表示例
        var imgListView = $('#LAY-photo-edit-img-list')
                , uploadListIns = upload.render({
            elem: '#LAY-photo-edit-option'
            , url: setter.admin_set.upload_url_qiniu
            , accept: 'file'
            , multiple: true
            , auto: false
            , bindAction: '#LAY-photo-edit-action'
            , choose: function (obj) {
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function (index, file, result) {
                    var tr = $(['<tr id="upload-' + index + '">'
                        , '<td><img src="' + result + '" alt="' + file.name + '">'
                        , '<td>' + file.name + '</td>'
                        , '<td>' + (file.size / 1014).toFixed(1) + 'kb</td>'
                        , '<td>等待上传</td>'
                        , '<td>'
                        , '<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        , '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                        , '</td>'
                        , '</tr>'].join(''));

                    //单个重传
                    tr.find('.demo-reload').on('click', function () {
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.demo-delete').on('click', function () {
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    imgListView.append(tr);
                });
            }
            , done: function (res, index, upload) {
                if (res.code === 1) { //上传成功
                    var tr = imgListView.find('tr#upload-' + index)
                            , tds = tr.children();
                    tds.eq(3).html('<span style="color: #5FB878;">上传成功</span>');
                    tds.eq(4).html(''); //清空操作
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                }
                this.error(index, upload);
            }
            , error: function (index, upload) {
                var tr = imgListView.find('tr#upload-' + index)
                        , tds = tr.children();
                tds.eq(3).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(4).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });

    });
</script>