<title>部门编辑</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>后台管理员</cite></a>
    <a><cite>部门添加|编辑</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">部门资料</div>
        <div class="layui-card-body" pad15>
          <div class="layui-form" lay-filter="filter-admin-dept-edit">
            <input type="hidden" name="dept_id">
            <div class="layui-form-item">
              <label class="layui-form-label">上级部门</label>
              <div class="layui-input-inline">
                <select name="pid">
                </select>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">部门名称</label>
              <div class="layui-input-inline">
                <input type="text" name="dept_name" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">部门排序</label>
              <div class="layui-input-inline">
                <input type="number" name="sort_num" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">数字越小，越靠前</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">部门状态</label>
              <div class="layui-input-block">
                <input type="radio" name="state" value="1" title="启用">
                <input type="radio" name="state" value="0" title="禁用">
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="filter-admin-dept-edit-submit">保存</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    layui.use(['admin', 'form'], function () {
        var $ = layui.$
                , form = layui.form
                , admin = layui.admin
                , dept_id = layui.router().search.dept_id || 0
                , filter = 'filter-admin-dept-edit';

        //渲染该模板下的动态表单
        admin.req({
            url: '/admin/admin_dept/edit?dept_id=' + dept_id
            , done: function (res) {
                if (res.code) {
                    var _html = '<option value="0">顶级</option>';
                    _html += res.data.pid_list;
                    $('.layui-form[lay-filter="' + filter + '"]').find('select[name="pid"]').html(_html);
                    res.data.state = res.data.state ? res.data.state.toString() : '1';
                    form.val(filter, res.data);
                } else {
                    layer.alert(res.msg, {icon: 2});
                }
            }
        });

        //提交
        form.on('submit(' + filter + '-submit)', function (data) {
            var field = data.field;
            admin.req({
                url: '/admin/dept/save'
                , data: field
                , done: function (res) {
                    if (res.code) {
                        layer.msg(res.msg, {shade: [0.5, '#000'], time: 1000}, function () {
                            location.hash = '/admin/dept_edit/dept_id=' + res.data.id;
                            layui.index.render();
                        });
                    } else {
                        layer.alert(res.msg, {icon: 2});
                    }
                }
            });
            return false;
        });
    });

</script>
