<title>管理员编辑</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>后台管理员</cite></a>
    <a><cite>添加|编辑</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">个人资料</div>
        <div class="layui-card-body" pad15>
          <div class="layui-form" lay-filter="filter-admin-edit">
            <input type="hidden" name="admin_id">
            <div class="layui-form-item">
              <label class="layui-form-label">用户头像<br>(100*100)</label>
              <div class="layui-input-inline tpl-img-upload">
                <img src="/static/img/holder.jpg" id="LAY-admin-edit-upload">
                <input type="hidden" name="avatar">
              </div>
              <div class="layui-input-inline tpl-center-sm">
                <div class="layui-btn-container">
                  <a href="/static/img/holder.jpg" target="_blank" class="layui-btn layui-btn-primary layui-btn-sm">
                    <i class="layui-icon layui-icon-search"></i>查看大图
                  </a>
                  <a class="layui-btn layui-btn-primary layui-btn-sm image-delete">
                    <i class="layui-icon layui-icon-delete"></i>删除图片
                  </a>
                </div>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">用户名</label>
              <div class="layui-input-inline">
                <input type="text" name="user_name" lay-verify="required" placeholder="请输入" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">手机号</label>
              <div class="layui-input-inline">
                <input type="text" name="tel" autocomplete="off" lay-verify="phone" placeholder="请输入" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">保证系统唯一性，后台登录时使用</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">登录密码</label>
              <div class="layui-input-inline">
                <input type="password" name="user_pwd" class="layui-input" autocomplete="new-password">
              </div>
              <div class="layui-form-mid layui-word-aux">添加用户时为必填项</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">确认密码</label>
              <div class="layui-input-inline">
                <input type="password" name="confirm" class="layui-input" autocomplete="new-password">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">权限分组</label>
              <div class="layui-input-inline">
                <select name="role_id" lay-verify="required">
                </select>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">用户性别</label>
              <div class="layui-input-block">
                <input type="radio" name="sex" value="1" title="男">
                <input type="radio" name="sex" value="0" title="女">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">登录状态</label>
              <div class="layui-input-block">
                <input type="radio" name="state" value="1" title="正常">
                <input type="radio" name="state" value="0" title="禁用">
              </div>
            </div>
            <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">个性签名</label>
              <div class="layui-input-block">
                <textarea name="describe" placeholder="请输入" class="layui-textarea"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="filter-admin-edit-submit">保存</button>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<script>
    layui.use(['admin', 'form'], function () {
        var $ = layui.$
                , form = layui.form
                , admin = layui.admin
                , admin_id = layui.router().search.admin_id || 0
                , filter = 'filter-admin-edit';

        //渲染该模板下的动态表单
        admin.req({
            url: '/admin/admin/edit?admin_id=' + admin_id
            , done: function (res) {
                if (res.code) {
                    var dom = $('.layui-form[lay-filter="' + filter + '"]');
                    dom.find('.tpl-img-upload').setImgVal(res.data.avatar);
                    var _html = '<option value="">请选择</option>';
                    $.each(res.data.role_list, function (index, item) {
                        _html += '<option value="' + item.role_id + '">' + item.role_name + '</option>';
                    });
                    dom.find('select[name="role_id"]').html(_html);
                    res.data.sex = res.data.sex ? res.data.sex.toString() : '';
                    res.data.state = res.data.state ? res.data.state.toString() : '';
                    form.val(filter, res.data);
                } else {
                    layer.alert(res.msg, {icon: 2});
                }

                //上传图片
                $('#LAY-admin-edit-upload').imgUpload();

                //删除图片
                $('.image-delete').imgDel(admin_id, 'admin');
            }
        });

        //提交
        form.on('submit(' + filter + '-submit)', function (data) {
            var field = data.field;
            admin.req({
                url: '/admin/admin/save'
                , data: field
                , done: function (res) {
                    if (res.code) {
                        layer.msg(res.msg, {shade: [0.5, '#000'], time: 1000}, function () {
                            location.hash = '/admin/edit/admin_id=' + res.data.id;
                            layui.index.render();
                        });
                    } else {
                        layer.alert(res.msg, {icon: 2});
                    }
                }
            });
            return false;
        });
    });

</script>
