<title>权限组列表</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>后台管理员</cite></a>
    <a><cite>权限组列表</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">

    <form class="layui-form layui-card-header layuiadmin-card-header-auto layui-form-pane" lay-filter="filter-admin-role-list">
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">权限组名称</label>
          <div class="layui-input-inline">
            <input type="text" name="role_name" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline layui-btn-group" id="LAY-admin-role-list-btn">
          <button class="layui-btn layuiadmin-btn-useradmin layui-btn-normal" lay-submit lay-filter="filter-admin-role-list-search">搜索</button>
          <button type="button" class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
          <button type="button" class="layui-btn layuiadmin-btn-useradmin layui-btn-danger" data-type="batchdel">批量删除</button>
        </div>
      </div>
    </form>

    <div class="layui-card-body">
      <table id="LAY-admin-role-list-table" lay-filter="filter-admin-role-list-table"></table>
      <!--操作列-->
      <script type="text/html" id="LAY-admin-role-list-table-option">
        <div class="layui-btn-group">
          <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </div>
      </script>
    </div>
  </div>
</div>

<script>
    layui.use('admin_role', layui.factory('admin_role'));
</script>